# Identifiants pour AWS
AWS_ACCESS_KEY_ID="votre_access_key"
AWS_SECRET_ACCESS_KEY="votre_secret_key"
AWS_DEFAULT_REGION="eu-west-3"

# Identifiants NeonDB
DATABASE_URL="postgresql://[USER]:[PASSWORD]@ep-xyz.eu-central-1.aws.neon.tech/clinical_trials_data?sslmode=require"

# Clé API IA
OPENAI_API_KEY="sk-..."
