streamlit
psycopg2-binary==2.9.9
langchain
langchain-openai
langchain-google-genai
langchain-text-splitters
pydantic
python-dotenv==1.0.1
PyMuPDF==1.24.1
mlflow
transformers==4.40.1
torch==2.3.0
sentence-transformers==2.7.0
pgvector==0.2.5
supabase==2.4.5
accelerate==0.30.0
fastapi
uvicorn
python-multipart